*{margin: 0; box-sizing: border-box;}

.Banner{float:left; width: 100%;}
    .Banner img{width: 100%; vertical-align: middle;}

.Nav{float:left; width: 100%; background: #000;}
    .Nav li{float:left; width: 25%; text-align: center; list-style: none;}
    .Nav a{display:block; width: 100%; padding: 10px 0; color:#fff; font-weight: bold; text-decoration: none; font-size: 20px;}
    .Nav a:hover{background: #666;}

.Center{text-align: center;}

.Content{float:left; width: 100%; padding: 15px;}

.Formulario{float:left; width: 70%; height: 300px; margin: 20px 15%;}
    .FormularioInput{float:left; width: 50%; padding: 0 5%;}
    .FormularioInput100{width: 100% !important;}
    .FormularioInput input[type='text'] , .FormularioInput select{width: 100%; height: 45px;}
    .FormularioInput input[type='submit']{display:inline-block; padding: 15px 35px; margin: 15px 0; border:0; cursor: pointer; background: #000000; color:#fff; font-weight: bold; text-align: center; border-radius: 10px;}
    .FormularioInput input[type='submit']:hover{background: #666;}
    .Formulariop{float: left;; width: 70%; height: 300px; margin: 20px 15%;}

    .TabelaCrud{width: 100%; text-align: center;}
    .TabelaCrud tr:nth-child(2n -1){background: #CCC;}
    .TabelaCrud tr:first-child{background: #000; color:#fff; font-weight: bold; font-size: 20px;}
    .TabelaCrud td{width: 25%;}